:root {
  font-family: Spline Sans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #fcfcfc;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.25rem;
  overflow-x: hidden;
}

.shado {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.shade {
  box-shadow: 0px 4px 10px 0px rgba(16, 24, 40, 0.20);
}

.bg-blue-gradient {
  background: linear-gradient(135deg, #1736D3 0%, #0A66C2 36.98%, #0B6DED 62.50%, #0783F8 100%);
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }